.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  }

.NotFound{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
 }

 span{
   color: #2a9df4;
 }
