<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="icon-menu" *ngIf="loggedIn"></span>
      </button>
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" routerLink="/sitedayscover"><img src="./assets/images/mflogostrip.png" class="mr-2" alt="Dashboard"/></a>
      </div>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-settings d-none d-lg-flex">
          <a class="nav-link" href="#">
          </a>
        </li>
        <p>{{SupplierID}}</p>
        <li class="nav-item nav-profile dropdown" *ngFor="let supplier of supplier">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown" *ngIf="loggedIn">
            <img src="./assets/pimg/{{supplier?.Img}}" alt="profile"/>
            <span class="supplierName">{{supplier?.SupplierName}}</span>
          </a>
        <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" (click)="logout($event)" *ngIf="loggedIn">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

