.headings{
  padding-right: 15px;
  text-transform: uppercase;
  color: #010101;
  font-size: 15px;
  font-weight: 600;
}

p{
  padding-top: 5px;
  color: #010101;
}

.alert {
  padding: 0.25rem 1.25rem !important;
  border: 1px solid transparent !important;
}

.exporttoexcel{
  color: #ffffff;
  background-color: #3366ff;
  /* border-radius: 6px; */
  border: 1px solid #3366ff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.selectreport{
  padding-left: 15px;
  padding-right: 15px;
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  font-size: 15px;
}

input, button, select, optgroup, textarea {
  font-size: inherit !important;
}

.search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  input[type=text]{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type=text] {
    border: 1px solid #ccc;
  }
}

