<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial -->
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/selectsupplier">
          <i class="icon-folder menu-icon"></i>
          <span class="menu-title">Select Supplier</span>
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/gallery', SupplierID]">
          <i class="icon-image menu-icon"></i>
          <span class="menu-title">PhotonoteGallery</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
          <i class="icon-bar-graph menu-icon"></i>
          <span class="menu-title">Reports</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="charts">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item" [routerLinkActive]="['active']"> <a class="nav-link" [routerLink]="['/sitedayscover', SupplierID]">Site Days Cover</a></li>
            <!-- <li class="nav-item"> <a class="nav-link" routerLink="stock">Stock Level Matrix</a></li> -->
            <li class="nav-item" [routerLinkActive]="['active']"> <a class="nav-link" [routerLink]="['/status', SupplierID]">Status Report</a></li>
            <li class="nav-item" [routerLinkActive]="['active']"> <a class="nav-link" [routerLink]="['/numericdistribution', SupplierID]">Numeric Distribution</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Auth</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" routerLink="" *ngIf="!loggedIn"> Login </a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="" *ngIf="!loggedIn"> Register </a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="" *ngIf="loggedIn"> Profile</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  <!-- partial -->

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu" *ngIf="loggedIn"></span>
        </button>
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo mr-5" routerLink="/selectsupplier"><img src="./assets/images/mflogostrip.png" class="mr-2" alt="Dashboard"/></a>
        </div>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-settings d-none d-lg-flex">
            <a class="nav-link" href="#">
            </a>
          </li>
          <li class="nav-item nav-profile dropdown" *ngFor="let supplier of supplier">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown" *ngIf="loggedIn">
              <img src="./assets/pimg/{{supplier?.Img}}" alt="profile"/>
              <span class="supplierName">{{supplier?.SupplierName}}</span>
            </a>
          </li>
          <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" href="#" (click)="logout($event)" *ngIf="loggedIn">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <div class="main-panel">
    <div class="content-wrapper">
          <!--routes get injected here-->
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row" style="float: right;">
                <h4 class="headings">Numeric Distribution</h4>
              </div>
            </div>
          </div>
          <div class="col-md-12 grid-margin">
          <div class="row">
            <div class="alert alert-info" style="width: 100%;">
              <p>This report is a daily snapshot of Numeric Distribution</p>
            </div>
          </div>
          </div>
          <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-12 grid-margin">
              <div class="search-container" style="float: right; padding-left: 15px;">
                <form action="">
                  <input type="text" placeholder="Filter Report" name="search" (keyup)="quickSearch()" [(ngModel)]="searchValue">
                </form>
              </div>

              <div style="float: left;">
                <button class="exporttoexcel" (click)="onBtExport()">Export to Excel</button>
              </div>

              <div style="float: left; padding-left: 15px;">
                <button class="exporttoexcel" (click)="numberofStores()">Get stores with article listed</button>
              </div>
              <div style="float: left; padding-left: 10px;">
                <h3 class="">{{NoOfStores}}</h3>
              </div>

          </div>
          </div>
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                  <ag-grid-angular
                    style="width: 100%; height: 100vh;"
                    class="ag-theme-balham"
                    [columnDefs]="columnDefs"
                    [tooltipShowDelay]="tooltipShowDelay"
                    [frameworkComponents]="frameworkComponents"
                    rowSelection ="multiple"
                    [animateRows]= "true"
                    [pagination] = "true"
                    [paginationPageSize] = "25"
                    [sortingOrder] = "sortingOrder"
                    (gridReady)="onGridReady($event)"
                  >
                  </ag-grid-angular>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block" style="color: #222b45!important; font-family: Open Sans, sans-serif;font-size: 0.9375rem;font-weight: 500;line-height: 1.25rem;">Powered by <a href="https://marketforce.co.za" style="color: #598bff">MarketForce</a>.</span>
      </div>
    </footer>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
