.content-wrapper {
  padding: 1.375rem 2.375rem !important;
}

.gallery-items {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-items img {
  height: 200px;
  width: 300px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -ms-transform: scale(1.0);
  -o-transform: scale(1.0);
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
}

.item {
  box-sizing: content-box;
  margin: 10px;
  height: 200px;
  width: 300px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  -webkit-transition: transform 0.3s ease, opacity 0.3s ease;
  -moz-transition: transform 0.3s ease, opacity 0.3s ease;
  -ms-transition: transform 0.3s ease, opacity 0.3s ease;
  -o-transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.item:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.item:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.item:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.item:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}


.gallery-items .item.hide{
	display: none;
}

.gallery-items .item.show{
	display: block;
	animation: show .5s ease;
	-webkit-animation: show .5s ease;
}

@keyframes show{
    0%{
    	opacity:0;
    	transform: scale(0.9);
    	-webkit-transform: scale(0.9);
    	-moz-transform: scale(0.9);
    	-ms-transform: scale(0.9);
    	-o-transform: scale(0.9);
}
    100%{
    	opacity:1;
    	transform: scale(1);
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	-ms-transform: scale(1);
    	-o-transform: scale(1);
}
}

.gallery-items .item img{
	width: 100%;
	display: block;
}

.pagination{
	/* width: 100%;
	float: left;
	padding:15px;
	text-align: center; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination div{
	display: inline-block;
	margin:0 10px;
}

.pagination .page{
	color:gray;
}
.pagination .prev,.pagination .next{
 color:#000;
 border:1px solid #000;
 font-size:15px;
 padding:7px 15px;
 cursor: pointer;
}

.pagination .prev.disabled,
.pagination .next.disabled{
	border-color: gray;
	color:gray;
	pointer-events: none;
}
