<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial -->
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu" *ngIf="loggedIn"></span>
        </button>
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo mr-5" routerLink="/selectsupplier"><img
              src="./assets/images/mflogostrip.png" class="mr-2" alt="Dashboard" /></a>
        </div>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-settings d-none d-lg-flex">
            <a class="nav-link" href="#">
            </a>
          </li>
          <li class="nav-item nav-profile dropdown" *ngFor="let supplier of supplier">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown" *ngIf="loggedIn">
              <img src="./assets/pimg/{{supplier?.Img}}" alt="profile" />
              <span class="supplierName">{{supplier?.SupplierName}}</span>
            </a>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" (click)="logout($event)" *ngIf="loggedIn">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!---side bar starts here----->

  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/selectsupplier">
          <i class="icon-folder menu-icon"></i>
          <span class="menu-title">Select Supplier</span>
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/gallery', SupplierID]">
          <i class="icon-image menu-icon"></i>
          <span class="menu-title">PhotonoteGallery</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
          <i class="icon-bar-graph menu-icon"></i>
          <span class="menu-title">Reports</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="charts">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item" [routerLinkActive]="['active']"> <a class="nav-link"
                [routerLink]="['/sitedayscover', SupplierID]">Site Days Cover</a></li>
            <!-- <li class="nav-item"> <a class="nav-link" routerLink="stock">Stock Level Matrix</a></li> -->
            <li class="nav-item" [routerLinkActive]="['active']"> <a class="nav-link"
                [routerLink]="['/status', SupplierID]">Status Report</a></li>
            <li class="nav-item" [routerLinkActive]="['active']"> <a class="nav-link"
                [routerLink]="['/numericdistribution', SupplierID]">Numeric Distribution</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Auth</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" routerLink="" *ngIf="!loggedIn"> Login </a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="" *ngIf="!loggedIn"> Register </a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="" *ngIf="loggedIn"> Profile</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>

  <div class="main-panel">
    <div class="content-wrapper">
      <!-------gallery starts here--------->
      <div class="gallery-items">
        <div class="item" *ngFor='let supplier of gallery'>
          <img src="https://marketforce.co.za/V2/api{{supplier?.imgPath}}" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: {{supplier?.store_name}}</p>
              <p>articleDescription: {{supplier?.articleDescription}}</p>
              <p>dateCapture: {{supplier?.loadedTS}}</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="gallery-items">
        <div class="item">
          <img src="./assets/1.jpg" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: 1119</p>
              <p>articleDescription: myshop</p>
              <p>dateCapture: 25 may</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./assets/1.jpg" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: 1119</p>
              <p>articleDescription: myshop</p>
              <p>dateCapture: 25 may</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./assets/1.jpg" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: 1119</p>
              <p>articleDescription: myshop</p>
              <p>dateCapture: 25 may</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./assets/1.jpg" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: 1119</p>
              <p>articleDescription: myshop</p>
              <p>dateCapture: 25 may</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./assets/1.jpg" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: 1119</p>
              <p>articleDescription: myshop</p>
              <p>dateCapture: 25 may</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./assets/1.jpg" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: 1119</p>
              <p>articleDescription: myshop</p>
              <p>dateCapture: 25 may</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./assets/1.jpg" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: 1119</p>
              <p>articleDescription: myshop</p>
              <p>dateCapture: 25 may</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./assets/1.jpg" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: 1119</p>
              <p>articleDescription: myshop</p>
              <p>dateCapture: 25 may</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./assets/1.jpg" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: 1119</p>
              <p>articleDescription: myshop</p>
              <p>dateCapture: 25 may</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./assets/1.jpg" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: 1119</p>
              <p>articleDescription: myshop</p>
              <p>dateCapture: 25 may</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./assets/1.jpg" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: 1119</p>
              <p>articleDescription: myshop</p>
              <p>dateCapture: 25 may</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./assets/1.jpg" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: 1119</p>
              <p>articleDescription: myshop</p>
              <p>dateCapture: 25 may</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./assets/1.jpg" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: 1119</p>
              <p>articleDescription: myshop</p>
              <p>dateCapture: 25 may</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./assets/1.jpg" alt="gallery" />
          <div class="transparent-box">
            <div class="caption">
              <p>storeName: 1119</p>
              <p>articleDescription: myshop</p>
              <p>dateCapture: 25 may</p>
              <p class="opacity-low">gallery</p>
            </div>
          </div>
        </div>
      </div> -->
      <div class="pagination">
        <div class="prev">Prev</div>
        <div class="page">Page <span class="page-num"></span></div>
        <div class="next">Next</div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"
          style="color: #222b45!important; font-family: Open Sans, sans-serif;font-size: 0.9375rem;font-weight: 500;line-height: 1.25rem;">Powered
          by <a href="https://marketforce.co.za" style="color: #598bff">MarketForce</a>.</span>
      </div>
    </footer>
    <!-- partial -->
  </div>

  <!-- main-panel ends -->
</div>
