<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" routerLink="/selectsupplier"><img src="./assets/images/mflogostrip.png" class="mr-2" alt="Dashboard"/></a>
      </div>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-settings d-none d-lg-flex">
          <a class="nav-link" href="#">
          </a>
        </li>
        <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" (click)="logout($event)" *ngIf="loggedIn">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial -->
  <div class="main-panel">
    <div class="content">
      <div class="headerName">
        <span class="iconify" data-icon="mdi-basket-outline" data-inline="false" style="width: 40px; height: 40px;"></span>
        <span class="select">Select Supplier</span>
      </div>

    <li  class="Supplier" *ngFor="let supplier of suppliers">
      <a class="supplierprofile" [routerLink]="['/sitedayscover', supplier.SupplierID]">
        <img src="./assets/pimg/{{supplier?.Img}}" alt="profile"/>
        <span class="supplierName">{{supplier?.SupplierName}}</span>
      </a>
      <!-- <i class="arrow right" style="float: right; margin-right: 10px;"></i> -->
    </li>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block" style="color: #222b45!important; font-family: Open Sans, sans-serif;font-size: 0.9375rem;font-weight: 500;line-height: 1.25rem;">Powered by <a href="https://marketforce.co.za" style="color: #598bff">MarketForce</a>.</span>
      </div>
    </footer>
    <!-- partial -->
  </div>
  </div>
  <!-- main-panel ends -->
</div>
