.main-panel{
  width: 100% !important;
}

.headerName{
  padding: 0;
  margin: 0;
  padding: 0rem 2.275rem;
  color: white;
  background-color: #2a9df4;
}

.select{
  text-transform: uppercase;
  padding-left: 35px;
}

.Supplier{
  padding:0.5% 0 0.5% 0;
  border-top:1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  padding-left: 2.275rem;
}

.supplierName{
  padding-left: 30px;
}

.supplierprofile{
  text-decoration: none;
}

.supplierName:hover{
  color: #3366ff;
}

.supplierprofile img{
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 2px;
  margin: 0 10px 0 0;
}

.supplierName{
  color: #222b45;
}

.arrow {
  border: solid #686868;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 0;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.content-wrapper {
  background: #ffffff;
  padding: 2.375rem 2.375rem !important;
}

.navbar .navbar-brand-wrapper .navbar-brand img {
  margin-left: 0px !important;
}

.footer {
  position: fixed !important;
  width: 100% !important;
  bottom: 0px !important;
}